@model EsportPortal.Models.Team

@{
    ViewData["Title"] = "Team Details";
}

<h2>@Model.Name</h2>

<h3>Players</h3>
@if (Model.Players != null && Model.Players.Any())
{
    <div class="card-container">
        @foreach (var player in Model.Players)
        {
            <div class="card">
                <a class="player-card" href="@Url.Action("Details", "Player", new { id = player.Id })">
                <h4>@player.Nickname</h4>
                <p>@player.Name @player.Surname</p>
                <p>@player.Role</p>
                </a>
            </div>
        }
    </div>
}
else
{
    <p>No players available for this team.</p>
}
