@model IEnumerable<EsportPortal.Models.Tournament>

@{
    ViewData["Title"] = "Tournaments";
}

<h2>Tournaments</h2>
<div class="card-container">
    @foreach (var tournament in Model)
    {
        <a class="card" href="@Url.Action("Details", "Tournament", new { id = tournament.Id })">
            <h3>@tournament.Name</h3>
            <div class="image">
                <img src="@tournament.LogoUrl" alt="@tournament.Name"/>
            </div>
            <p>@tournament.Date.ToString("dd-MM-yyyy")</p>
            <p>@tournament.Location</p>
        </a>
    }
</div>
