<h2>Players</h2>
<div class="player-container">
    @foreach (var player in Model)
    {
            <a class="player-card" href="@Url.Action("Details", "Player", new { id = player.Id })">
                <h3>@player.Nickname</h3>
                <img src = "@player.PhotoUrl" alt="@player.Nickname"/>
                <p>@player.Name @player.Surname</p>
                <p>@player.Role</p>
                <p>@player.Nationality</p>
                <p>@player.BirthDate</p>
                <p>@player.FavouriteMap</p>
            </a>
    }
</div>
<style>

</style>
